@model RestaurantMenu.Models.DishListViewModel
@{
    Layout = "_Layout";
}
<section class="search-bar pt-md-5">
    <form class="d-flex" method="get" asp-action="Index">
        <input name="term" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit"><i class="fa fa-search"></i></button>
        <a class="btn btn-info ms-2" href="/Home/Index">Reset</a>
    </form>
</section>
<section class="dishes" style="display: flex; flex-wrap: wrap; justify-content: space-between;">
    @foreach(var dish in Model.DishList)
    {
        <div style="width: 18rem;" class="card mt-5" onclick="window.location.href='/Home/DishDetail?dishId=@dish.Id'">
            <img src="/Assets/Dishes/@dish.DishImage" class="card-img-top" alt="@dish.Title">
            <div class="card-body">
                <h5 class="card-title">@dish.Title</h5>
                <p class="card-text">@dish.IngredientNames</p>
                <p class="card-text">&#x20B9;@dish.Price</p>
            </div>
        </div>
    }
</section>

<nav aria-label="...">
    <ul class="pagination pagination-sm justify-content-end mt-4">
        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            if (i == Model.CurrentPage)
            {
                <li class="page-item active" aria-current="page">
                    <span class="page-link">@i</span>
                </li>
            }
            else
            {
                <li class="page-item"><a class="page-link" href="/Home/Index?currentPage=@i&term=@Model.Term">@i</a></li>
            }
        }
    </ul>
</nav>